<!doctype html>

<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
  <div class="header">
    <span class="title">ATP PREDICTIONS</span>
  </div>
  <div class="matches-list">
    {% for key,value in data.iterrows() %}
    <div class="match">
      <div class="opponents">
        {%if value['Surface']=="Clay"%}
          <img  class="background" src="{{url_for('static', filename='/css/images/clay-background.jpg')}}" >
        {%elif value['Surface']=="Grass"%}
          <img  class="background" src="{{url_for('static', filename='/css/images/grass.jpeg')}}" >
        {%elif value['Surface']=="Hard"%}
          <img  class="background" src="{{url_for('static', filename='/css/images/hard.jpeg')}}" >
        {%endif%}

        <div class="player">
          <div class="player-photo">
            <img class='{{"player-body" if "gladiator" in value['PhotoP1'] else "player-face"}}' src="{{value['PhotoP1']}}" alt="" >
          </div>
          <div class="player-info">
            <div id="player1-name" class="player-name">
              <span>{{value['NewNameP1']}}</span>
            </div>
            <div class="wrapper-player1">
              <a class="cta" href="#">
                <span class="sp-wrapper">Rank</span>
                <div class="svg-wrapper">
                  <svg  viewBox="0 0 10 10"  >
                    <text x="10" y="10" class="three" fill="#FFFFFF">{{value['ActualRankingP1']}}</text>
                    <text x="0" y="10" class="one" fill="#FFFFFF">></text>
                    <text x="-10" y="10" class="two" fill="#FFFFFF">></text>
                  </svg>
                </div>
              </a>
            </div>
            <div class="wrapper-player1">
              <a class="cta" href="#">
                <span class="sp-wrapper">Hand</span>
                <div class="svg-wrapper">
                  <svg  viewBox="0 0 10 10"  >
                    <text x="10" y="10" class="three" fill="#FFFFFF">{{value['HandednessP1'][0]}}</text>
                    <text x="0" y="10" class="one" fill="#FFFFFF">></text>
                    <text x="-10" y="10" class="two" fill="#FFFFFF">></text>
                  </svg>
                </div>
              </a>
            </div>
            <div class="wrapper-player1">
              <a class="cta" href="#">
                <span class="sp-wrapper">Odd</span>
                <div class="svg-wrapper">
                  <svg  viewBox="0 0 10 10"  >
                    <text x="10" y="10" class="three" fill="#FFFFFF">{{value['AvgP1']}}</text>
                    <text x="0" y="10" class="one" fill="#FFFFFF">></text>
                    <text x="-10" y="10" class="two" fill="#FFFFFF">></text>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="versus">

          <div class="location">
              <span>ATP {{value['Location']}}</span>
          </div>
          <div class="icon">
            <img id="icon-png" src="{{url_for('static', filename='/css/images/versus.png')}}" >
          </div>

        </div>
        <div class="player">
          <div class="player-info">
            <div id="player2-name" class="player-name">
              <span>{{value['NewNameP2']}}</span>
            </div>
            <div class="wrapper-player2">
              <a class="cta" href="#">
                <div class="svg-wrapper">
                  <svg  viewBox="0 0 10 10"  >
                    <text x="-20" y="10" class="three" fill="#FFFFFF">{{value['ActualRankingP2']}}</text>
                    <text x="20" y="10" class="one" fill="#FFFFFF"><</text>
                    <text x="10" y="10" class="two" fill="#FFFFFF"><</text>
                  </svg>
                </div>
                <span class="sp-wrapper">Rank</span>
              </a>
            </div>
            <div class="wrapper-player2">
              <a class="cta" href="#">
                <div class="svg-wrapper">
                  <svg  viewBox="0 0 10 10"  >
                    <text x="-20" y="10" class="three" fill="#FFFFFF">{{value['HandednessP2'][0]}}</text>
                    <text x="20" y="10" class="one" fill="#FFFFFF"><</text>
                    <text x="10" y="10" class="two" fill="#FFFFFF"><</text>
                  </svg>
                </div>
                <span class="sp-wrapper">Hand</span>
              </a>
            </div>
            <div class="wrapper-player2">
              <a class="cta" href="#">
                <div class="svg-wrapper">
                  <svg viewBox="0 0 10 10">
                    <text x="-20" y="10" class="three" fill="#FFFFFF">{{value['AvgP2']}}</text>
                    <text x="20" y="10" class="one" fill="#FFFFFF"><</text>
                    <text x="10" y="10" class="two" fill="#FFFFFF"><</text>
                  </svg>
                </div>
                <span class="sp-wrapper">Odd</span>
              </a>
            </div>
          </div>
          <div class="player-photo">
            <img class='{{"player-body" if "gladiator" in value['PhotoP2'] else "player-face"}}' src="{{value['PhotoP2']}}" alt="">
          </div>
        </div>

      </div>
      <div class="prediction">
        <div class="player-prediction">
          <span>{{'%0.3f'|format(value['PredictP1']|float)}}</span>
        </div>
        <div class="prediction-title">
          <span id="prediction">PREDICTION</span>

          {%if ((value['P1Winner'] == 1) and (value['PredictP1']>0.5))  %}
            <img id="check-png" src="{{url_for('static', filename='/css/images/checkmark.png')}}" >
          {%elif ((value['P1Winner'] == 0) and (value['PredictP1'] < 0.5)) %}
            <img id="check-png" src="{{url_for('static', filename='/css/images/checkmark.png')}}" >
          {%elif ((value['P1Winner'] == 1) and (value['PredictP1'] < 0.5)) %}
            <img id="cross-png" src="{{url_for('static', filename='/css/images/crossmark.png')}}" >
          {%elif ((value['P1Winner'] == 0) and (value['PredictP1'] > 0.5)) %}
            <img id="cross-png" src="{{url_for('static', filename='/css/images/crossmark.png')}}" >
          {%elif (value['P1Winner'] == 3) %}
            <p id="not-completed">Match cancelled</p>
          {%elif (value['P1Winner'] == 2) %}
            <p id="not-completed">Player retired</p>
          {%else%}
            <p id="not-completed">Match not completed</p>
          {% endif %}

        </div>
        <div class="player-prediction">
          <span>{{'%0.3f'|format(1-value['PredictP1']|float)}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>
