<!doctype html>

<html>

<head>

<title>Web app name</title>

</head>
<body>
  <table>
    {% for key,value in data.iterrows() %}
    <tr>
      <td>
        <div class="player-image">
          <img src="{{value['PhotoP1']}}" alt="" width="145px" height="230px">
        </div>
        <div class="player-info">
            <div class="player-name">
              {{value['NewNameP1']}}
            </div>
            <div class="player-rank">
              ATP: {{value['ActualRankingP1']}}
            </div>
        </div>
      </td>
      <td><img src="{{url_for('static', filename='versus_icon.jpg')}}" width="128" height="128"></td>
      <td>
        <div class="player-image">
          <img src="{{value['PhotoP2']}}" alt="" width="145px" height="230px">
        </div>
        <div class="player-info">
            <div class="player-name">
              {{value['NewNameP2']}}
            </div>
            <div class="player-rank">
              ATP: {{value['ActualRankingP2']}}
            </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>
